body {
  background-color: #d1f3de;
}

/*Game Board*/
#board {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  margin: 10%;
}

.cell {
  text-align: center;
  padding-top: 25px;
  font-size: 5em;
  color: white;
  background-color: #571032;
  border: 1px solid #b07289;
  border-radius: 7%;
}

/*Start Button*/
#flex-button {
  display: flex;
  align-items: center;
}

#start {
  border: 0;
  line-height: 2;
  padding: 2px 20px;
  font-size: 0.8rem;
  text-align: center;
  color: black;
  background-color: rgb(255, 201, 121);
  border-radius: 10%;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6) inset -2px -2px 3px
    rgba(0, 0, 0, 0.6);
}
#start:hover {
  background-color: rgb(235, 208, 121);
}

#start:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6) inset 2px 2px 3px
    rgba(0, 0, 0, 0.6);
}

#start:disabled {
  background-color: grey;
}

/*Count Box*/
#turn-count {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 15px 15px 15px 15px;
}

/*Status Area*/
#status-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.status-title {
  align-items: flex-end;
}

#playerStatus {
  align-self: center;
}
