#board {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  margin: 10%;
}

.cell {
  background-color: lightblue;
  text-align: center;
  border: 1px solid black;
}
